In [1]:
'''
This is an exammple of multiline comments
You can use single or double quotes
'''

'\nThis is an exammple of multiline comments\nYou can use single or double quotes\n'

In [3]:
"""
This is an example of multiline comments
Double quote als work
"""

'\nThis is an example of multiline comments\nDouble quote als work\n'

In [4]:
# This is an example of a single line comment

In [5]:
# Variables(identifier)

In [6]:
x = 2 #int
y_float = 3.14 # float
z = 1 + 2j # complex
last_name = 'Kim' # str
is_good = False # bool

In [7]:
print(x)

2

In [8]:
print(y_float)

3.14

In [9]:
print(x, y_float)

2 3.14

In [10]:
print(last_name, is_good)

Kim False

In [11]:
type(x)

int

In [12]:
type(last_name)

str

In [13]:
# Variables are case sensitive

In [14]:
Last_name = 'Park'

In [15]:
print(last_name, Last_name)

Kim Park

In [16]:
# Variables must start with a letter or an underscore (_)

In [17]:
_var = 3

In [18]:
var~ = 7

SyntaxError: invalid syntax (<ipython-input-18-051e534e26a5>, line 1)

In [19]:
var8 = 8

In [20]:
8var = 8

SyntaxError: invalid syntax (<ipython-input-20-150faac8b41e>, line 1)

In [21]:
# We cannot use reserved words as a variable

In [22]:
False = 3

SyntaxError: can't assign to keyword (<ipython-input-22-a3ee883b1482>, line 1)

In [23]:
print(x)

2

In [24]:
x_float = float(x)

In [25]:
print(x_float)

2.0

In [26]:
x_str = '2'

In [27]:
x_int = int(x_str)

In [28]:
print(x_int)

2

In [29]:
x_str = '1z3'

In [30]:
x_int = int(x_str)

ValueError: invalid literal for int() with base 10: '1z3'

In [31]:
# Strings are surrounded by either single or double quotation marks

In [32]:
city = 'Seoul'

In [33]:
country = "Korea"

In [34]:
print(type(city), city, type(country), country)

<class 'str'> Seoul <class 'str'> Korea

In [35]:
# Concanate

In [36]:
print(city + ' is the capital of ' + country)

Seoul is the capital of Korea

In [37]:
city = 'Tokyo'

In [38]:
country = 'Japan'

In [39]:
print(city + ' is the capital of ' + country)

Tokyo is the capital of Japan

In [40]:
s = 'hello world'

In [41]:
# capitalize

In [42]:
print(s.capitalize())

Hello world

In [43]:
# make all uppercase

In [44]:
print(s.upper())

HELLO WORLD

In [45]:
# get length

In [46]:
print(len(s))

11

In [47]:
# replace

In [48]:
print(s.replace('world', 'everyone'))

hello everyone

In [49]:
# count

In [50]:
print(s.count('l'))

3

In [51]:
# find position

In [52]:
print(s.find('e'))

1

In [53]:
# A list is a collection which is ordered and changeable

In [54]:
numbers = [2,3,5,7,11]

In [55]:
type(numbers)

list

In [58]:
courses = ['calculus', 'linear algebra', 'differential equation']

In [59]:
type(courses)

list

In [60]:
cities = list(('Seoul', 'New York', 'Paris', 'Moscow'))

In [61]:
type(cities)

list

In [62]:
print(numbers, courses, cities)

[2, 3, 5, 7, 11] ['calculus', 'linear algebra', 'differential equation'] ['Seoul', 'New York', 'Paris', 'Moscow']

In [63]:
mixed = [1, 'abc', 3.4]

In [64]:
type(mixed)

list

In [65]:
# Get a value

In [66]:
print(courses[1])

linear algebra

In [67]:
# Get length

In [68]:
print(len(numbers))

5

In [69]:
# append

In [70]:
courses.append('information architecture')

In [71]:
print(courses)

['calculus', 'linear algebra', 'differential equation', 'information architecture']

In [72]:
# remove from list

In [73]:
courses.remove('calculus')

In [74]:
print(courses)

['linear algebra', 'differential equation', 'information architecture']

In [75]:
courses.remove('english')

ValueError: list.remove(x): x not in list

In [76]:
# change value

In [77]:
numbers[0] = 1

In [78]:
print(numbers)

[1, 3, 5, 7, 11]

In [79]:
# A tuple is a collection which is ordered and unchangeable

In [80]:
numbers_tuple = (2,3,5,7,11)

In [81]:
type(numbers_tuple)

tuple

In [82]:
number = (1)

In [83]:
type(number)

int

In [84]:
number = (1,)

In [85]:
type(number)

tuple

In [86]:
# cannot change values

In [87]:
numbers_tuple[0] = 1

TypeError: 'tuple' object does not support item assignment

In [88]:
numbers_tuple.append(13)

AttributeError: 'tuple' object has no attribute 'append'

In [89]:
numbers_tuple.remove(3)

AttributeError: 'tuple' object has no attribute 'remove'

In [90]:
print(len(numbers_tuple))

5

In [91]:
# A set is a collection which is unordered and unindexed

In [92]:
fruits_set = {'Apples', 'Oranges', 'Mango'}

In [93]:
type(fruits_set)

set

In [94]:
print(fruits_set)

{'Apples', 'Mango', 'Oranges'}

In [95]:
fruits_set.add('Grape')

In [97]:
print(fruits_set)

{'Apples', 'Mango', 'Oranges', 'Grape'}

In [98]:
fruits_set.remove('Apples')

In [99]:
print(fruits_set)

{'Mango', 'Oranges', 'Grape'}

In [100]:
print(len(fruits_set))

3

In [101]:
# duplicate members

In [102]:
numbers_list = [1,2,3,4,5,1]

In [103]:
numbers_tuple = (1,2,3,4,5,1)

In [104]:
numbers_set = {1,2,3,4,5,1}

In [105]:
print(numbers_list, numbers_tuple, numbers_set)

[1, 2, 3, 4, 5, 1] (1, 2, 3, 4, 5, 1) {1, 2, 3, 4, 5}

In [106]:
numbers_list.append(1)

In [107]:
numbers_set.add(1)

In [108]:
print(numbers_list)

[1, 2, 3, 4, 5, 1, 1]

In [109]:
print(numbers_set)

{1, 2, 3, 4, 5}

In [110]:
# A dict is a collection which is unordered, changeable and indexed

In [111]:
# create a dict

In [112]:
area_code = {'Seoul':'02', 'Busan':'051', 'Daejon':'042', 'Ulsan':'052'}

In [113]:
type(area_code)

dict

In [114]:
print(area_code)

{'Seoul': '02', 'Busan': '051', 'Daejon': '042', 'Ulsan': '052'}

In [115]:
print(area_code['Seoul'])

02

In [116]:
area_code['Daegu'] = '053'

In [117]:
print(area_code)

{'Seoul': '02', 'Busan': '051', 'Daejon': '042', 'Ulsan': '052', 'Daegu': '053'}

In [118]:
print(area_code.keys())

dict_keys(['Seoul', 'Busan', 'Daejon', 'Ulsan', 'Daegu'])

In [119]:
print(area_code.values())

dict_values(['02', '051', '042', '052', '053'])

In [120]:
type(area_code.keys())

dict_keys

In [121]:
keys_list = list(area_code.keys())

In [122]:
print(type(keys_list), keys_list)

<class 'list'> ['Seoul', 'Busan', 'Daejon', 'Ulsan', 'Daegu']

In [123]:
# remove item

In [124]:
del(area_code['Busan'])

In [125]:
print(area_code)

{'Seoul': '02', 'Daejon': '042', 'Ulsan': '052', 'Daegu': '053'}

In [126]:
print(len(area_code))

4

In [127]:
# if/else conditions are used to decide to do something based on something being true or false

In [128]:
x = 3

In [129]:
y = 2

In [130]:
# comparison operstors (>, <, >=, <=)

In [131]:
if x > y:
    print('x is greater than y')

x is greater than y

In [132]:
# if / else

In [133]:
if x < y:
    print('x is less than y')
else:
    print('x is greater than or equal to y')

x is greater than or equal to y

In [134]:
# elif

In [135]:
if x < y:
    print('x is less than y')
elif x > y:
    print('x is greater than y')
else:
    print('x is equal to y')

x is greater than y

In [136]:
# nested if

In [137]:
if x > 2:
    if x <= 10:
        print('x is greater than 2 and less than or equal to 10')

x is greater than 2 and less than or equal to 10

In [138]:
# logical operators (and, or, not)

In [139]:
# and

In [140]:
if x > 2 and x <= 10:
    print('x is greater than 2 and less than or equal to 10')

x is greater than 2 and less than or equal to 10

In [141]:
# or

In [143]:
if x > 2 or x <= -1:
    print('x is greater than 2 or less than or equal to -1')

x is greater than 2 or less than or equal to -1

In [144]:
# not

In [145]:
if not(x <= y):
    print('x is greater than y')

x is greater than y

In [146]:
# equality operator (==, !=)

In [147]:
if x == y:
    print('x is equal to y')

In [148]:
if x != y:
    print('x is not equal to y')

x is not equal to y

In [149]:
# Memgership operator (in, not in)

In [150]:
numbers = [1,2,3,4,5]

In [151]:
print(x)

3

In [152]:
if x in numbers:
    print('x is a member of numbers')

x is a member of numbers

In [153]:
# not in

In [154]:
if x not in numbers:
    print('x is not a member of numbers')

In [155]:
print(numbers[1])

2

In [156]:
print(numbers[1:3])

[2, 3]

In [157]:
print(numbers[0:5:2])

[1, 3, 5]

In [158]:
# arithmetic operators

In [159]:
print(x, y, x + y, x - y)

3 2 5 1

In [160]:
print(x, y, x * y, x / y)

3 2 6 1.5

In [161]:
print(x, y, x // y, x % y)

3 2 1 1

In [162]:
print(x, y, x ** y)

3 2 9

In [164]:
# while loop

In [166]:
a = 1

In [167]:
b = 1

In [168]:
a += 2

In [169]:
b = b + 2

In [170]:
print(a, b)

3 3

In [171]:
count = 0

In [172]:
while count < 10:
    print(count)
    count += 1

0
1
2
3
4
5
6
7
8
9

In [173]:
# for loop

In [174]:
flowers = ['rose', 'lily', 'tulip', 'daisy', 'iris']

In [175]:
for flower in flowers:
    print(flower + ' is beautiful')

rose is beautiful
lily is beautiful
tulip is beautiful
daisy is beautiful
iris is beautiful

In [176]:
# break

In [177]:
for flower in flowers:
    print(flower + ' is beautiful')
    if (flower == 'tulip'):
        break

rose is beautiful
lily is beautiful
tulip is beautiful

In [179]:
for flower in flowers:
    if flower == 'lily':
        continue
    print(flower + ' is beautiful')

rose is beautiful
tulip is beautiful
daisy is beautiful
iris is beautiful

In [180]:
# index

In [184]:
range(10)

range(0, 10)

In [183]:
print(range(1,10))

range(1, 10)

In [185]:
for i in range(len(flowers)):
    print(i, flowers[i])

0 rose
1 lily
2 tulip
3 daisy
4 iris

In [186]:
mixed_list = [1, 'str', 3.14]

In [187]:
for element in mixed_list:
    print(type(element), element)

<class 'int'> 1
<class 'str'> str
<class 'float'> 3.14

In [188]:
# function

In [189]:
def sum(a, b):
    total = a + b
    return total

In [190]:
print(sum(1,2))

3

In [191]:
print(sum(5,-2))

3

In [192]:
print(sum(1.3,4.23))

5.53

In [193]:
print(sum('aaa', 'bbb'))

aaabbb

In [194]:
print(sum('aaa', 1))

TypeError: can only concatenate str (not "int") to str

In [195]:
# immutable input

In [196]:
def update_value(a):
    a += 2
    print(a)

In [197]:
x = 3

In [198]:
update_value(x)

5

In [199]:
print(x)

3

In [200]:
# mutable input

In [201]:
def update_list(l):
    l[0] += 2
    print(l)

In [202]:
input_list = [1,2,3,4,5]

In [203]:
update_list(input_list)

[3, 2, 3, 4, 5]

In [204]:
print(input_list)

[3, 2, 3, 4, 5]

In [205]:
# default value

In [206]:
def update_list2(l, val = 2):
    l[0] += val
    print(l)

In [207]:
update_list2([1,2,3],10)

[11, 2, 3]

In [208]:
update_list2([1,2,3])

[3, 2, 3]

In [209]:
# input

In [210]:
year = int(input('In what year were you born?'))

In what year were you born?2019

In [211]:
print(year)

2019

In [213]:
x=1
y=2

In [214]:
print(f'sum of {x} and {y} is ', x + y)

sum of 1 and 2 is  3

In [216]:
print('sum of {} and {} is {}'.format(x, y, x+y))

sum of 1 and 2 is 3

In [217]:
# module

In [218]:
import random

In [219]:
print(random.random())

0.40813620696241504

In [220]:
print(random.random())

0.15489053024410726

In [221]:
from random import random

In [222]:
print(random())

0.45295801780658806

In [223]:
import math

In [224]:
print(math.pi)

3.141592653589793

In [225]:
from math import pi

In [226]:
print(pi)

3.141592653589793

In [228]:
# comprehension syntax

In [229]:
squares1 = []

In [230]:
for k in range(1,11):
    squares1.append(k ** 2)

In [231]:
print(squares1)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [232]:
squares2 = [k ** 2 for k in range(1,11)]

In [233]:
print(squares2)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [234]:
squares_odd = [k ** 2 for k in range(1,11) if k % 2 == 1]

In [235]:
print(squares_odd)

[1, 9, 25, 49, 81]

In [236]:
squares1 = []
for k in range(1,11):
    if k % 2 == 1:
        squares1.append(k ** 2)

In [237]:
print(squares1)

[1, 9, 25, 49, 81]

In [4]:
print('Welcome to the GPA calculator.')
print('Please enter all your letter grades, one per line.')
print('Enter a blank line to designate the end.')
# map from letter grade to point value
points = {'A+':4.3, 'A':4.0, 'A-':3.67, 'B+':3.33, 'B':3.0, 'B-':2.67,
          'C+':2.33, 'C':2.0, 'C-':1.67, 'D+':1.33, 'D':1.0, 'F':0.0}
num_courses = 0
total_points = 0
done = False
while not done:
  grade = input()                          # read line from user
  if grade == '':                          # empty line was entered
    done = True
  elif grade not in points:                # unrecognized grade entered
    print("Unknown grade '{0}' being ignored".format(grade))
  else:
    num_courses += 1
    total_points += points[grade]
if num_courses > 0:                        # avoid division by zero
  print('Your GPA is {0:.3}'.format(total_points / num_courses))
else:
  print('Come back later!')

Welcome to the GPA calculator.
Please enter all your letter grades, one per line.
Enter a blank line to designate the end.

Come back later!