# 02 Python Primer

In [3]:
# Comparison Operators

In [4]:
2 <= 3

True

In [5]:
3 >= 2

True

In [6]:
not True

False

In [7]:
# Equality Operators

In [8]:
a = [1,2,3]
b = [1,2,3]

In [9]:
a is b

False

In [10]:
a == b

True

In [11]:
# arithmetic Operators
5 // 2

2

In [12]:
5 % 2

1

In [13]:
# Sequence Operators
a = [0,1,2,3,4,5,6,7,8,9]

In [14]:
a[0:4]

[0, 1, 2, 3]

In [15]:
a[0:9:2]

[0, 2, 4, 6, 8]

In [16]:
b = [10,11]

In [17]:
a + b

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [18]:
b * 3

[10, 11, 10, 11, 10, 11]

In [19]:
0 in b

False

In [20]:
11 in b

True

In [21]:
# Loop

In [22]:
a = 0
while a < 9:
    print(a)
    a += 1

0
1
2
3
4
5
6
7
8

In [23]:
for e in b:
    print(e)

10
11

In [24]:
b.remove(10)

In [25]:
print(b)

[11]

In [26]:
c = (1,2,3,4,5)

In [27]:
c[4]

5

In [28]:
c[3]=2

TypeError: 'tuple' object does not support item assignment

In [29]:
b.append(2)

In [30]:
print(b)

[11, 2]

In [31]:
fruit = {'apple', 'banana', 'kiwi'}

In [34]:
print(fruit)

{'banana', 'kiwi', 'apple'}

In [35]:
area_code = {'Seoul':'02', 'Busan':'051', 'Daejon':'042', 'Ulsan':'052'}

In [43]:
list(area_code.values())

['02', '051', '042', '052']

In [1]:
range(10)

range(0, 10)

In [3]:
for i in range(1, 10):
    print(i)

1
2
3
4
5
6
7
8
9

In [5]:
year = int(input('In what year were you born?'))

In what year were you born? 2019

In [6]:
print(year)

2019